body {
  background-color: green;
}
.card {
  background-color: white;
  width: 250px;
  height: 250px;
  border-radius: 15px;
  padding: 10px;
  font-size: 75px;
  text-align: center;
  padding-top: 200px;
  margin: auto;
  position: relative;
}
.card::before {
  position: absolute;
  top: 0px;
  left: 10px;
}

.card::after {
  position: absolute;
  bottom: 0px;
  right: 10px;
}

.diamond,
.heart {
  color: red;
}
.diamond::before,
.diamond::after {
  content: "♦";
  color: red;
}
.heart::before {
  content: "♥";
  color: red;
}
.heart::after {
  content: "♥";
  color: red;
  rotate: 180deg;
}
.club::before {
  content: "♣";
}
.club::after {
  content: "♣";
  rotate: 180deg;
}
.spade::before {
  content: "♠";
}
.spade::after {
  content: "♠";
  rotate: 180deg;
}
